.stv-radio-buttons-wrapper {
    clear: both;
    display: inline-block;
}

.stv-radio-button {
    position: absolute;
    left: -9999em;
    top: -9999em;
    visibility: hidden;
}

label.rdioQuestionSelection {
    float: left;
    padding: 0.7em 0.9em;
    cursor: pointer;
    border: 1px solid #5cb85c;
    margin-right: -1px;
    color: #fff;
    background-color: #ddd;
}

.stv-radio-button:checked + span + label {
    background-color: #5cb85c;
}

.stv-radio-button:checked + label {
    background-color: #5cb85c;
}

a.step.isDisabled {
    pointer-events: none;
    cursor: default;
}