.portlet {
  clear: both;
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0px;
  border-radius: 4px;
  /* background-color: aquamarine; */
}

.portlet-body {
  clear: both;
  padding: 10px;
  background-color: #fff;
  border-radius: 0px 0px 10px 10px;
}

.forget-form {
  padding: 0px;
  margin: 0px;
}

.form-title {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  direction: ltr;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.1;
  margin-top: 20px;
  font-weight: bold !important;
  color: #000 !important;
  font-size: 22px;
  margin-bottom: 25px;
}

.form-group {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1.428571429;
  font-family: 'AkzidenzGroteskPro', sans-serif;
  font-size: 16px;
  direction: ltr;
  color: #222222;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.form-control {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  direction: ltr;
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  background-image: none;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  line-height: 1.428571429;
  vertical-align: middle;
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  box-shadow: none;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  padding-left: 33px !important;
}

.login-navbar {
  display: flex;
  justify-content: space-between;
}

.dropdown-menu {
  position: absolute !important;
  inset: 0px auto auto -100px !important;
  transform: translate(0px, 36px) !important;
}


.forget-form-header {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  direction: ltr;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold !important;
  color: #000 !important;
}

.forget-form-tag {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1.428571429;
  font-family: 'AkzidenzGroteskPro', sans-serif;
  font-size: 16px;
  direction: ltr;
  box-sizing: border-box;
  color: #222;
  margin-bottom: 10px;
}

.forget-form-input {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  direction: ltr;
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  background-image: none;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  line-height: 1.428571429;
  vertical-align: middle;
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  box-shadow: none;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  padding-left: 33px !important;
}

.forget-password-button {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  direction: ltr;
  box-sizing: border-box;
  margin: 0;
  text-transform: none;
  -webkit-appearance: button;
  font-family: inherit;
  background-image: none;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  user-select: none;
  color: #333;
  background-color: #fff;
  box-shadow: none !important;
  text-shadow: none;
  outline: none !important;
  border-color: #e5e5e5;
  border-radius: 10px;
  margin-top: 1px;
}

.dropdown-toggle::after {
  display: none !important;
}
.language-drop {
  display: flex;
  flex-direction: row;
}

.language-drop img {
  margin: 5px;
}
